:host {
  display: block;
  min-height: 100vh;
}

/* Day (default) */
:host-context(body) .main {
  background-color: #cce6ff; 
}

.card {
  background-color: #d6ecff;
  color: #000;
  border: 1px solid #aaccee;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Night mode */
:host-context(body.night-theme) .card {
  background-color: #2c2c3c;
  color: #fff;
  border: 1px solid #444;
}

:host-context(body.night-theme) .main {
  background-color:#232324;

}

:host-context(body.night-theme) table {
  background-color: #3a3a3a;
  color: #fff;
  border-color: #666;
}

:host-context(body.night-theme) thead {
  background-color: #2c2c3c;

}
